/* Main styles for mobile phone layout */

body {
    background-color: cornflowerblue;
    font-size: 0.75em;
    min-width: 350px;
}

.main-grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
}



.header-grid-container{
    padding: 20px;;
    background-color: white;
}
header {
    text-align: center;
    padding: 20px;
    display: grid;
    background-color: teal;
}


[class*="grid-item"] {
    padding: 20px;
}
.grid-item-navigation-bar {
    display: grid;
    grid-template-columns: 1;
    background-color: coral;
}

.grid-item-button-one {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 1em;
    padding-top: 5px;
}

.grid-item-button-two {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 1em;
    padding-top: 5px;
}

.grid-item-button-three {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 1em;
    padding-top: 5px;
}

.grid-item-button-four {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 1em;
    padding-top: 5px;
}

.grid-item-button-five {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 1em;
    padding-top: 5px;
}

.grid-item-aside {
    background-color: blanchedalmond;
}

.grid-item-three {
    background-color: tomato;
}





.footer-grid-container{
    padding: 20px;;
    background-color: white;
}
footer {
    text-align: center;
    padding: 20px;
    display: grid;
    background-color: teal;
}


@media only screen and (min-width: 600px) {
    /* For tablets */
    body {
        background-color: black;
        font-size: 1.2em;
    }
    .main-grid-container {
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr; */
    }
    .grid-item-three {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid-item-navigation-bar  [class*="grid-item-button"]{
        width: 100%;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }
      
    #myBtn:hover {
        background-color: #555;
    }
}

@media only screen and (min-width: 1000px) {
    /* for desktops */
    body {
        background-color: chocolate;
        font-size: 1.4em;
    }
    .main-grid-container {
        grid-template-columns: 21% 64% 15%;
    }

    .grid-item-aside {
        display: inline-block;
    }
    .grid-item-three {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .grid-item-navigation-bar {
        display: inline-block;
        grid-template-columns: 1;
        background-color: coral;
    } 

    .grid-item-navigation-bar  [class*="grid-item-button"]{
        width: 100%;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }
      
    #myBtn:hover {
        background-color: #555;
    }
}